body{
    font-family: 'Roboto Condensed', sans-serif;
    background-color: WhiteSmoke;
}
h1{
    text-shadow: 2px 4px 4px;
}

.navbar{background-image:linear-gradient(to right, DimGrey, GhostWhite);

}
.nav-link:hover{
   color: brown;
}

* {
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}

section {
  width: 80%;
  display: inline-block;
  background: #ccc;
  height: 50vh;
  text-align: center;
  font-size: 22px;
  font-weight: 500;
  
}
footer{background-image:linear-gradient(to right, DimGrey, GhostWhite)

}  
